<!DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">{{title}} <span>{{name}}</span></a></div>
				<!-- <a href="#menu"><span>Menu</span></a> -->
			</header>

		
		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="fondo2.jpg">
				<div class="inner">
					<header>
						<h1>Science and System Engineer</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="fondo2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h1>PROFILE</h1>							
						</header>						
							<header>
								<p>I’m an engineer with a focus on creating and designing REST APIs using appropriate technologies such as NodeJs. I apply my skills and abilities to deliver efficient and high- quality solutions.</p>
							</header>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="fondo2.jpg">				
				<div class="inner">
					<article class="box">
						<header>
							<h1>PROFESSIONAL EXPERIENCE</h1>
						</header>
						<header>
							<p>Software Analyst and IT Project Leader (Jan 2020 - Oct 2022)
						</p>
						</header>
						<div class="content">
							<p>My attributions were: Debug and troubleshoot JavaScript code to resolve issues in development environment 
								also I was creating RESTful APIs using NodeJs with express and testing code using jest.
							</p>	
						</div>					

						<header>
							<p style="margin-left: 130px;">Teaching Assistant (Jan 2018 - Dec 2018)</p>							
						</header>					
						<div class="content">
							<p>Assistant of Intermediate Mathematics course 2 and 3 also Math for computation 1 and 2.</p>						
						</div>						
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="fondo2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h1>TECHNICALS SKILLS</h1>
						</header>
						<header>
							<p style="margin-left: 80px;"><b>Languages: </b>JavaScript, Java</p>
							<p style="margin-left: 80px;"><b>Methodology: </b>Scrum, Kanban</p>
							<p style="margin-left: 80px;"><b>DataBases: </b>SQLServer, MongoDB</p>
							<p style="margin-left: 80px;"><b>Frameworks: </b>Express.js</p>												
						</header>						
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="fondo2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h1>COURSES FROM UDEMY</h1>
						</header>
						<header>
							<p>2023 Microservices with Node JS and React</p>
							<p>2023 Complete ExpressJS and MongoDB for Beginners</p>
							<p>2022 Node: From scratch to expert</p>
							<p>2022 NodeJs: Beginner Practical Guide - E-Commerce Web API</p>												
						</header>
						<footer>
							<br>
							<a href="/courses" class="button alt">See More</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<header>
						<h1>Contact Me</h1>
						<p>jose.portillo.samayoa@gmail.com</p>
					</header>

					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/jose-portillo-774503181/" class="icon round fa-linkedin"><span class="label">Linkedln</span></a></li>
						<li><a href="https://github.com/joseportillo7" class="icon round fa-github"><span class="label">GitHub</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://stock.adobe.com/">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>